@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensed;
  src: url(../../assets/font/RobotoCondensed-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensed;
  src: url(../../assets/font/RobotoCondensed-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

header {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
header .header-block {
  margin: 0 auto;
  width: 80vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
  border-bottom: 1px solid #cac9c2;
}
header .header-block .header-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .header-block .header-box .header-logo-box {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block .header-box .header-logo-box .header-logo {
  margin: 0 auto;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .header-block .header-box .header-logo-box .header-logo img {
  height: 100%;
}
header .header-block .header-box .services-box {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block .header-box .services-box .services {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
header .header-block .header-box .services-box .services .service-time {
  margin: 0 auto;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .header-block .header-box .services-box .services .service-time p {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0;
  color: #370c80;
}
header .header-block .header-box .services-box .services .service-button {
  max-width: 50%;
  padding: 1vh 2.4vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #fdfcf4;
  background-color: #370c80;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
header .header-block .header-box .services-box .services .service-button:hover {
  background-color: #abbee6;
  color: #1b1357;
}
header .menu-block {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
header .menu-block .menu-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
header .menu-block .menu-box .menu {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
header .menu-block .menu-box .menu .menu-item-box {
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .menu-block .menu-box .menu .menu-item-box .menu-item {
  text-decoration: none;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #656dc4;
}
header .menu-block .menu-box .menu .menu-item-box .menu-item:hover {
  color: #370c80;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
header .menu-block .menu-box .menu .services {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
header .menu-block .menu-box .menu .services .service-button {
  max-width: 50%;
  padding: 0 2vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #656dc4;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
header .menu-block .menu-box .menu .services .service-button:hover {
  color: #370c80;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
header .menu-block .menu-box .admin {
  width: 30%;
  justify-content: flex-end;
}
header .categories-block {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
header .categories-block .categories-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
header .categories-block .categories-box .category-item-box {
  margin-right: 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
header .categories-block .categories-box .category-item-box .category-item {
  text-decoration: none;
  font-size: 2.1vh;
  font-weight: 300;
  line-height: 2.1vh;
  letter-spacing: 0;
  color: #92918d;
}
header .categories-block .categories-box .category-item-box .category-item:hover {
  color: #92918d;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}

@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotoCondensed;
  src: url(../../assets/font/RobotoCondensed-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

footer {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #370c80;
}
footer .footer-block {
  margin: 0 auto;
  width: 80vw;
  height: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
footer .footer-block .footer-contacts {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-block .footer-contacts .footer-logo {
  margin: 0;
  margin-top: 3vh;
  height: 45%;
  width: auto;
}
footer .footer-block .footer-contacts .footer-logo img {
  height: 100%;
}
footer .footer-block .footer-socials {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-block .footer-menu {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
footer .footer-block .footer-menu .menu-box {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
footer .footer-block .footer-menu .menu-box .service-button {
  margin-top: 3vh;
  padding: 1vh 2vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #fdfcf4;
  background-color: #370c80;
  border: 1px solid #fdfcf4;
  border-radius: 3px;
  cursor: pointer;
}
footer .footer-block .footer-menu .menu-box .request {
  border: none;
}
footer .footer-block .footer-menu .menu-box .service-button:hover {
  background-color: #abbee6;
  color: #370c80;
  border-color: #abbee6;
}
footer .footer-block .footer-menu .menu-box .request:hover {
  background-color: #370c80;
  color: #abbee6;
}
footer .footer-bottom {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
footer .footer-bottom .copyrights {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
footer .footer-bottom .copyrights p {
  font-size: 1.5vh;
  font-weight: 200;
  line-height: 1.5vh;
  letter-spacing: 0;
  color: #fdfcf4;
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top {
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  flex-grow: 1;
}
.wrapper .top header {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
.wrapper .top header .header-block {
  margin: 0 auto;
  width: 80vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
  border-bottom: 1px solid #cac9c2;
}
.wrapper .top header .header-block .header-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .header-block .header-box .header-logo-box {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-box .header-logo-box .header-logo {
  margin: 0 auto;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .header-block .header-box .header-logo-box .header-logo img {
  height: 100%;
}
.wrapper .top header .header-block .header-box .services-box {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-box .services-box .services {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .header-block .header-box .services-box .services .service-time {
  margin: 0 auto;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .header-block .header-box .services-box .services .service-time p {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0;
  color: #370c80;
}
.wrapper .top header .header-block .header-box .services-box .services .service-button {
  max-width: 50%;
  padding: 1vh 2.4vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #fdfcf4;
  background-color: #370c80;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper .top header .header-block .header-box .services-box .services .service-button:hover {
  background-color: #abbee6;
  color: #1b1357;
}
.wrapper .top header .menu-block {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
.wrapper .top header .menu-block .menu-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top header .menu-block .menu-box .menu {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper .top header .menu-block .menu-box .menu .menu-item-box {
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .menu-block .menu-box .menu .menu-item-box .menu-item {
  text-decoration: none;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #656dc4;
}
.wrapper .top header .menu-block .menu-box .menu .menu-item-box .menu-item:hover {
  color: #370c80;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.wrapper .top header .menu-block .menu-box .menu .services {
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper .top header .menu-block .menu-box .menu .services .service-button {
  max-width: 50%;
  padding: 0 2vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #656dc4;
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper .top header .menu-block .menu-box .menu .services .service-button:hover {
  color: #370c80;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.wrapper .top header .menu-block .menu-box .admin {
  width: 30%;
  justify-content: flex-end;
}
.wrapper .top header .categories-block {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #fdfcf4;
}
.wrapper .top header .categories-block .categories-box {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .categories-block .categories-box .category-item-box {
  margin-right: 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top header .categories-block .categories-box .category-item-box .category-item {
  text-decoration: none;
  font-size: 2.1vh;
  font-weight: 300;
  line-height: 2.1vh;
  letter-spacing: 0;
  color: #92918d;
}
.wrapper .top header .categories-block .categories-box .category-item-box .category-item:hover {
  color: #92918d;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.wrapper .top main {
  margin: 0 auto;
  margin-top: 20vh;
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
  background-color: white;
}
.wrapper .top main .title-block {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .title-block .title-box {
  margin: 0 auto;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .title-block .title-box .title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0;
  color: #370c80;
}
.wrapper .top main .news-block {
  margin: 0 auto;
  margin-bottom: 10vh;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .news-block .news-items {
  margin: 0 auto;
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px;
  grid-row-gap: 0;
  flex-wrap: wrap;
}
.wrapper .top main .news-block .news-items .news-item {
  margin: 0 auto;
  margin-bottom: 0;
  width: 350px;
  height: 198px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
  border: 1px solid #cac9c2;
  border-radius: 3px;
}
.wrapper .top main .news-block .news-items .news-item .news-info {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-category {
  width: 100%;
  font-family: RobotoCondensed;
  color: #181818;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0;
  text-transform: uppercase;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-title {
  width: 100%;
  color: #181818;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-description {
  width: 100%;
  color: #181818;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-sources {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-sources .news-source {
  width: 60%;
  color: #181818;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0;
  text-align: left;
}
.wrapper .top main .news-block .news-items .news-item .news-info .news-sources .news-created-at {
  width: 40%;
  color: #181818;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  letter-spacing: 0;
  text-align: right;
}
.wrapper .top main .news-block .news-items .news-item .news-image {
  margin: 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .news-block .news-items .news-item .news-image img {
  width: auto;
  height: 100%;
}
.wrapper .top main .news-block .news-items .max {
  max-width: 100%;
  width: 100%;
  height: 60vh;
  margin-bottom: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper .top main .news-block .news-items .max .news-image {
  width: 100%;
  height: 75%;
}
.wrapper .top main .news-block .news-items .max .news-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .top main .news-block .news-items .max .news-info {
  width: 100%;
  height: 25%;
}
.wrapper .top main .news-block .news-items .max .news-info .news-category {
  display: none;
}
.wrapper .top main .news-block .news-items .max .news-info .news-description {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.wrapper .top main .news-block .news-items .min {
  width: 100%;
  height: auto;
}
.wrapper .top main .news-block .news-items .min .news-image {
  display: none;
}
.wrapper .top main .news-block .news-items .min .news-info {
  width: 100%;
}
.wrapper .top main .news-block .news-items .min .news-info .news-category {
  display: none;
  order: 2;
}
.wrapper .top main .news-block .news-items .min .news-info .news-title {
  order: 3;
}
.wrapper .top main .news-block .news-items .min .news-info .news-description {
  margin-top: 5px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  order: 4;
}
.wrapper .top main .news-block .news-items .min .news-info .news-sources {
  margin-bottom: 5px;
  order: 1;
}
.wrapper .top main .news-block .news-items .news-item:last-child {
  margin-bottom: 0;
}
.wrapper .top main .btn-more {
  margin: 0 auto;
  margin-bottom: 40px;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  color: #656dc4;
  cursor: pointer;
}
.wrapper .top main .btn-more:hover {
  color: #370c80;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
}
.wrapper footer {
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #370c80;
}
.wrapper footer .footer-block {
  margin: 0 auto;
  width: 80vw;
  height: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: space-between;
}
.wrapper footer .footer-block .footer-contacts {
  margin: 0 auto;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-contacts .footer-logo {
  margin: 0;
  margin-top: 3vh;
  height: 45%;
  width: auto;
}
.wrapper footer .footer-block .footer-contacts .footer-logo img {
  height: 100%;
}
.wrapper footer .footer-block .footer-socials {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-menu {
  margin: 0 auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
.wrapper footer .footer-block .footer-menu .menu-box {
  margin: 0 auto;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-end;
}
.wrapper footer .footer-block .footer-menu .menu-box .service-button {
  margin-top: 3vh;
  padding: 1vh 2vw;
  font-size: 2.4vh;
  font-weight: 300;
  line-height: 2.4vh;
  letter-spacing: 0;
  color: #fdfcf4;
  background-color: #370c80;
  border: 1px solid #fdfcf4;
  border-radius: 3px;
  cursor: pointer;
}
.wrapper footer .footer-block .footer-menu .menu-box .request {
  border: none;
}
.wrapper footer .footer-block .footer-menu .menu-box .service-button:hover {
  background-color: #abbee6;
  color: #370c80;
  border-color: #abbee6;
}
.wrapper footer .footer-block .footer-menu .menu-box .request:hover {
  background-color: #370c80;
  color: #abbee6;
}
.wrapper footer .footer-bottom {
  margin: 0 auto;
  width: 80vw;
  height: 20%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  justify-content: flex-start;
}
.wrapper footer .footer-bottom .copyrights {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.wrapper footer .footer-bottom .copyrights p {
  font-size: 1.5vh;
  font-weight: 200;
  line-height: 1.5vh;
  letter-spacing: 0;
  color: #fdfcf4;
  text-align: left;
}/*# sourceMappingURL=home.css.map */