<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News&Trends</title>
    <link rel="stylesheet" href="../../styles/home/home.css">
</head>
<body>
    <div class="wrapper">
        <div class="top">
            <header>
                <div class="header-block"></div>
                <div class="categories-block"></div>
            </header>
            <main>
                <section class="hero">
                 тут шаблон фронт-страниц   
                </section>
            </main>
        </div>
        <footer></footer>
    </div>
    
</body>
</html>