<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="origin">
    <title>N&T_Mail</title>
    <link rel="stylesheet" href="../../styles/mail/mail.css" />
    <script src="../../data/categories.js"></script>
    <script defer src="../../scripts/menucolor.js"></script>
    <script defer src="../../scripts/categoryMenu.js"></script>
    <script defer src="../../scripts/timesite.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="top">
        <header>
          <div class="header-block">
            <div class="header-box">
              <div class="header-logo-box">
                <div class="header-logo">
                  <img src="../../assets/logo/logo.png" alt="logo" />
                </div>
              </div>
              <div class="services-box">
                <div class="services">
                  <div class="service-time">
                    <p id="currentTimeSite"></p>
                  </div>
                  <button class="service-button" onclick="location.href='../auth/login.html'">Sign In</button>
                </div>
              </div>
            </div>
          </div>
          <div class="menu-block">
            <div class="menu-box">
              <div class="menu">
                <div class="menu-item-box">
                  <a href="../../index.html" class="menu-item" id="linkMenuHome">Home</a>
                </div>
                <div class="menu-item-box">
                  <img src="../../assets/icons/separator.png" alt="" />
                </div>
                <div class="menu-item-box">
                  <a href="../category/index.html" class="menu-item" id="linkMenuCategories">Categories</a>
                </div>
                <div class="menu-item-box">
                  <img src="../../assets/icons/separator.png" alt="" />
                </div>
                <div class="menu-item-box">
                  <a href="../news/index.html" class="menu-item" id="linkMenuNews">All News</a>
                </div>
                <div class="menu-item-box">
                  <img src="../../assets/icons/separator.png" alt="" />
                </div>
                <div class="menu-item-box">
                  <a href="../about.html" class="menu-item" id="linkMenuAbout">About</a>
                </div>
              </div>
              <div class="menu admin">
                <!-- <div class="menu-item-box">
                  <a href="#" class="menu-item">Admin</a>
                </div> -->
                <div class="services">
                  <button class="service-button" onclick="location.href='../admin/home/index.html'">Admin</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="categories-block">
            <div class="categories-box">
              <div class="category-item-box">
                <a href="#" class="category-item">Sport</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Politics</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Ecology</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Economy</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Culture</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Technology</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Auto</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">World</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Science</a>
              </div>
              <div class="category-item-box">
                <a href="#" class="category-item">Nature</a>
              </div>
            </div>
          </div> -->
          <div class="categories-block">
            <div class="categories-box">
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg1">Sport</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg2">Politics</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg3">Ecology</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg4">Economy</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg5">Culture</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg6">Technology</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg7">Auto</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg8">World</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg9">Science</a>
              </div>
              <div class="category-item-box">
                <a href="category/show.html?id=" class="category-item" id="ctg10">Nature</a>
              </div>
            </div>
          </div>
        </header>
        <main>
          <section class="title-block">
            <div class="title-box">
              <p class="title">Send message</p>
            </div>
          </section>
          <form action="#" class="form-input">
            <div class="input-box first">
              <label for="username" class="input-lable">Your name</label>            
              <input type="text" class="input-text" name="username">              
            </div>
            <div class="input-box">
              <label for="email" class="input-lable">Your E-mail</label>            
              <input type="email" class="input-text" name="email">              
            </div>
            <div class="input-box">
              <label for="message" class="input-lable">Your message</label>
              <textarea class="input-text area" name="message" id=""></textarea>            
            </div>
            <div class="input-box">
              <button class="btn-form">Send message</button>
            </div> 
          </form>
        </main>
      </div>
      <footer>
        <div class="footer-block">
          <div class="footer-contacts">
            <div class="footer-logo">
              <img src="../../assets/logo/logo-white.png" alt="logo" />
            </div>
          </div>
          <div class="footer-socials"></div>
          <div class="footer-menu">
            <div class="menu-box">
              <button class="service-button request" onclick="location.href='../order/index.html'">Export request</button>
              <button class="service-button" onclick="location.href='index.html'">Send message</button>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="copyrights">
            <p>&#169; All rights reserved</p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
