@use 'sass:math';

$site-width: 100%;
$block-width: 80vw;
$form-width: 50vw;
$admin-sidebar-width: 20vw;
$admin-table-width: 80vw; // 100vw - ($admin-sidebar-width); // 70vw;
$admin-block-width: 90vw;
$admn-sidebar-marginl: 23%;
$admin-table-marginr: 7%;
$admin-sidebar-menu-width: 65%;

$min-site-height: 100vh;
$header-height: 20vh;
$admin-header-height: 10vh;
$admin-header-block-height: 60%;
$admin-footer-height: 6vh;
$footer-height: 10vh;
$min-main-height: 100vh - $header-height; // 80vh;
$admin-min-main-height: 100vh - ($admin-header-height); // 90vh
$page-title-height: 10vh;

$input-width: 90%;
$input-height: 40px;
$input-lable-marginb: 10px;
$input-marginb:20px;

$form-btn-width: 25%;
$form-btn-height: 1.5* $input-height;


$color-main: #abbee6; //rgb(171, 190, 230)
$color-main-dark: #370c80; //rgb(55, 12, 128)
$color-main-light: #656dc4; //rgb(101, 109, 196)
$color-accent: #eb5a84; //rgb(235, 90, 132)
$color-accent-dark: #c340a1; //rgb(195, 64, 161)
$color-accent-light: #cba6eb; //rgb(203, 166, 235)

$color-white: #fdfcf4; //rgb(253, 252, 244)
$color-grey-light: #e9e7e0; //rgb(233, 231, 224)
$color-grey: #cac9c2; //rgb(202, 201, 194)
$color-grey-dark: #92918d; //rgb(146, 145, 141)
$color-black: #181818; //rgb(24, 24, 24)
$color-sun: #fff9d7; //rgb(255, 249, 215)

$color-basic-white: #ffffff; //rgb(255, 255, 255)
$color-basic-black: #000000; //rgb(0, 0, 0)

$admin-color-main: #2641af; //rgb(38, 65, 175)
$admin-color-main-light: #276db0; //rgb(39, 109, 175)
$admin-color-main-dark: #1b1357; //rgb(27, 19, 87)
$admin-color-accent: #6423b0; //rgb(101, 35, 176)
$admin-color-accent-dark: #6171b0; //rgb(97, 113, 176)
$admin-color-accent-light: #2799b0; //rgb(39, 153, 176)
$admin-color-accent-light-super: #9de7f5; //rgb()

@font-face {
  font-family: Roboto;
  src: url(../../assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoCondensed;
  src: url(../../assets/font/RobotoCondensed-VariableFont_wght.ttf);
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

@mixin flex-horizontal {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

@mixin text-font($font-size, $font-weight, $line-height, $letter-spacing) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}
