@use 'sass:math';

@import '../vars/vars.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

.wrapper {
  margin: 0 auto;
  width: $site-width;
  min-height: 100vh;
  @include flex-vertical();
  justify-content: space-between;
  .top {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    @include flex-vertical();
    justify-content: space-between;
    flex-grow: 1;

    @include header();
    main {
      margin: 0 auto;
      margin-top: $header-height;
      width: $block-width;
      height: $min-main-height;
      @include flex-vertical();
      justify-content: flex-start;
      background-color: white;
      .title-block {
        margin: 0 auto;
        width: 100%;
        height: $page-title-height;
        @include flex-vertical();
        .title-box {
          margin: 0 auto;
          width: auto;
          height: fit-content;
          @include flex-horizontal();
          .title {
            @include text-font(36px, 400, 36px, 0);
            color: $color-main-dark;
          }
        }
      }
    }
  }

  @include footer();
}
