<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin footer</title>
    <link
      rel="stylesheet"
      href="../../../styles/admin/components/footer/footer.css"
    />
    <script defer src="../../../scripts/timenow.js"></script>
  </head>
  <body>
    <footer>
      <div class="footer-block">
        <div class="footer-sidebar-box"></div>
        <div class="footer-services-box">admin footer here</div>
      </div>
    </footer>
  </body>
</html>
