@use 'sass:math';

@import '../../../vars/vars.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin adminfooter {
  footer {
    margin: 0 auto;
    width: 100%;
    height: $admin-footer-height;
    @include flex-vertical();
    background-color: $color-white;
    .footer-block {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      @include flex-horizontal();
      justify-content: space-between;
      .footer-sidebar-box {
        margin: 0 auto;
        width: $admin-sidebar-width;
        height: 100%;
        @include flex-horizontal();
        background-color: $color-grey-light;
        //border: 1px solid orange;
      }
      .footer-services-box {
        margin: 0 auto;
        width: 100vw - $admin-sidebar-width;
        height: 100%;
        @include flex-horizontal();
        //background-color: $color-grey-light;
        //border: 1px solid red;
      }
    }
  }
}

@include adminfooter();
