@use 'sass:math';

@import '../../vars/vars.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin header {
  header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: $header-height;
    @include flex-vertical();
    background-color: $color-white;
    .header-block {
      margin: 0 auto;
      width: $block-width;
      height: 60%;
      @include flex-vertical();
      background-color: $color-white;
      border-bottom: 1px solid $color-grey;
      .header-box {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @include flex-horizontal();
        justify-content: space-between;
        .header-logo-box {
          margin: 0 auto;
          width: 70%;
          height: 100%;
          @include flex-vertical();
          .header-logo {
            margin: 0 auto;
            height: 60%;
            width: 100%;
            @include flex-horizontal();
            justify-content: flex-start;
            img {
              height: 100%;
            }
          }
        }
        .services-box {
          margin: 0 auto;
          width: 30%;
          height: 100%;
          @include flex-vertical();
          .services {
            margin: 0 auto;
            width: 100%;
            height: auto;
            @include flex-horizontal();
            justify-content: flex-end;
            .service-button {
              max-width: 50%;
              padding: 1vh 2vw;
              @include text-font(2.4vh, 300, 2.4vh, 0);
              color: $color-white;
              background-color: $color-main-dark;
              border: none;
              border-radius: 3px;
            }
            .service-button:hover {
              background-color: $color-main-light;
            }
          }
        }
      }
    }
    .menu-block {
      margin: 0 auto;
      width: $block-width;
      height: 20%;
      @include flex-vertical();
      background-color: $color-white;
      .menu-box {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @include flex-horizontal();
        justify-content: space-between;
        .menu {
          margin: 0 auto;
          width: 70%;
          @include flex-horizontal();
          justify-content: flex-start;
          .menu-item-box {
            margin-right: 10px;
            height: 100%;
            @include flex-vertical();
            .menu-item {
              text-decoration: none;
              @include text-font(2.4vh, 300, 2.4vh, 0);
              color: $color-main-light;
            }
            .menu-item:hover {
              color: $color-main-dark;
              text-decoration: underline 2px;
            }
          }
          .services {
            margin: 0 auto;
            width: 100%;
            height: auto;
            @include flex-horizontal();
            justify-content: flex-end;
            .service-button {
              max-width: 50%;
              padding: 0 2vw;
              @include text-font(2.4vh, 300, 2.4vh, 0);
              color: $color-main-light;
              background: none;
              border: none;
              border-radius: 3px;
            }
            .service-button:hover {
              color: $color-main-dark;
              text-decoration: underline 2px;
            }
          }
        }
        .admin {
          width: 30%;
          justify-content: flex-end;
        }
      }
    }
    .categories-block {
      margin: 0 auto;
      width: $block-width;
      height: 20%;
      @include flex-vertical();
      background-color: $color-white;
      .categories-box {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        @include flex-horizontal();
        .category-item-box {
          margin-right: 2vw;
          height: 100%;
          @include flex-vertical();
          .category-item {
            text-decoration: none;
            @include text-font(2.1vh, 300, 2.1vh, 0);
            color: $color-grey-dark;
          }
          .category-item:hover {
            color: $color-grey-dark;
            text-decoration: underline 2px;
          }
        }
      }
    }
  }
}

@include header();
