@use 'sass:math';

//@import '../../vars/vars.scss';
@import '../../../vars/vars.scss';

@font-face {
  font-family: Roboto;
  src: url(../../../../assets/font/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

@mixin adminheader($font-family) {
  header {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    height: $admin-header-height;
    @include flex-vertical();
    background-color: $admin-color-main-dark;
    .header-block {
      margin: 0 auto;
      width: 100%; // $admin-block-width;
      height: 100%; // $admin-header-block-height;
      @include flex-horizontal();
      justify-content: space-between;
      .header-logo-box {
        margin: 0 auto;
        width: 20vw; // auto; // $admin-sidebar-width; // auto;
        height: 100%; // $admin-header-block-height;// 100%;
        @include flex-vertical();
        //border: 1px solid yellow;
        .header-logo {
          margin: 0 auto;
          width: auto;
          height: 70%;
          @include flex-horizontal();
          //border: 1px solid yellowgreen;
        }
      }
      .menu-box {
        margin: 0 auto;
        width: 40vw;
        height: 100%;
        @include flex-vertical();
        //border: 1px solid orange;
        .menu {
          margin: 0 auto;
          width: 100%;
          height: auto;
          @include flex-horizontal();
          justify-content: flex-start;
          .menu-item-box {
            margin-right: 0.7vw; // 10px;
            @include flex-vertical();
            .menu-item {
              text-decoration: none;
              //@include text-font(2vh, 300, 2vh, 0);
              @include text-font(18px, 300, 18px, 0);
              color: $color-white;
            }
            .menu-item:hover {
              color: $admin-color-accent-light-super; // yellow;
              //text-decoration: underline 2px;
            }
            .menu-item:first-child {
              margin-left: 2vw;
            }
          }
        }
      }
      .services-box {
        margin: 0 auto;
        width: 40vw;
        height: 100%;
        @include flex-vertical();
        //border: 1px solid violet;
        .services {
          margin: 0 auto;
          //margin-right: 5.5vw;
          width: 100%;
          @include flex-horizontal();
          justify-content: flex-end;
          .service-time {
            margin: 0 auto;
            margin-right: 2vw;
            @include flex-vertical();
            p {
              font-family: $font-family;
              //@include text-font(1.5vh, 300, 1.5vh, 0);
              @include text-font(14px, 300, 14px, 0);
              color: $color-white;
            }
          }
          .service-button {
            font-family: $font-family;
            margin-right: 5vw;
            max-width: 50%;
            padding: 1vh 2.4vw; // 0 2vw;
            //@include text-font(2vh, 300, 2vh, 0);
            @include text-font(18px, 200, 18px, 0);
            color: $color-white;
            background: $admin-color-main-dark; // none;
            border: 1px solid $color-white;
            border-radius: 3px;
            outline: none;
            cursor: pointer;
            //background-color: grey;
          }
          .service-button:hover {
            border-color: $admin-color-accent-light-super;
            color: $admin-color-accent-light-super;
          }
        }
      }
    }
  }
}

@include adminheader(Roboto);
